{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}


  <div class="author__urls">
    <a href= "{{ absolute_url }}/hack-research-mmistakes/general-guidelines/"><h3>General Guidelines</h3></a>
    <a href= "{{ absolute_url }}/hack-research-mmistakes/communal/"><h3>Communal</h3></a>
    <a href= "{{ absolute_url }}/hack-research-mmistakes/contributive/"><h3>Contributive</h3></a>
    <a href= "{{ absolute_url }}/hack-research-mmistakes/catalytic/"><h3>Catalytic</h3></a>
  </div>

  <div class="author__urls-wrapper">
  </div>
