{% assign author = page.author | default: page.authors[0] | default: site.author %}
{% assign author = site.data.authors[author] | default: author %}


  <div class="author__urls">
    <a href= "{{ absolute_url }}/hack-research-mmistakes/general-guidelines/"><h2>General Guidelines</h2></a>
    <a href= "{{ absolute_url }}/hack-research-mmistakes/communal/"><h2>Communal</h2></a>
    <a href= "{{ absolute_url }}/hack-research-mmistakes/contributive/"><h2>Contributive</h2></a>
    <a href= "{{ absolute_url }}/hack-research-mmistakes/catalytic/"><h2>Catalytic</h2></a>
  </div>

  <div class="author__urls-wrapper">
  </div>
