---
layout: single
author_profile: false
classes: wide
sidebar:
  nav: "main"
---

<h1>Introduction</h1>
<div>
  <p style="text-align: justify;">
    Welcome to the Hackathon Planning Kit. The kit provides a detailed description of 12 decision making points important for the hackathon design process including the tradeoffs among alternative design choices at each decision point. Additionally, resources from which our planning kit is based are also included and these involves guides from other hackathon organizers and participants, workshop papers, technical reports and workshop proceedings as well as peer-reviewed papers. Our papers contain the evidence gained from the empirical studies of 10 hackathons held by scientific communities, a corporation, and universities as well as from published literature.
  </p>
  <p>
    The kit will be useful for both first-time and experienced hackathon organizers. It will help them select the designs that fit better with their goals by weighing the tradeoffs among design choices at each decision point.
  </p>
</div>
