---
layout: archive
---

We are a team of researchers at the <a href = "https://www.isri.cmu.edu/">Institute for Software Research</a> in Carnegie Mellon's School of Computer Science.
<br><br>
Based on our empirical study of 14 hackathons including a large-scale corporate hackathon by Microsoft, events hosted by universities, and events hosted by scientific communities including three hack days at STScI, we provide a hackahton planning kit for three of the most common types of hackathons: <strong>communal, contributive, and catalytic</strong>.
