---
layout: archive
---

<!-- {{ content }} -->

<!-- <h3 class="archive__subtitle">{{ site.data.ui-text[site.locale].recent_posts | default: "Recent Posts" }}</h3> -->

<!-- {% if paginator %}
  {% assign posts = paginator.posts %}
{% else %}
  {% assign posts = site.posts %}
{% endif %} -->

<!-- {% for post in posts %}
  {% include archive-single.html %}
{% endfor %} -->

This hackathon planning kit is the collective effort of a team of researchers at the <a href = "https://www.isri.cmu.edu/">Institute for Software Research</a> in Carnegie Mellon's School of Computer Science.
<br><br>
This planning kit involves guidance for three of the most common types of hackathons: <strong>communal, contributive, and catalytic</strong>, which was constructed based on our empirical study of 14 hackathons including a large-scale corporate hackathon by Microsoft, events hosted by universities, and events hosted by scientific communities including three hack days at STScI.

<!-- {% include paginator.html %} -->
